:root {
  --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  background: #f6f6f6;
  background: #f8f8f8;
  font-family: var(--system-ui);
  /* padding-top: 76px; */
}

h1 {
  font-size: 3rem;
  font-weight: bold;
}

h2 {
  text-transform: uppercase;
  font-size: 0.92rem;
  font-weight: bold;
  margin: 32px 0 16px;
}

main {
  width: 100%;
  max-width: 1600px;
  margin: auto;
  padding: 0 24px 16px;

  .columns-3 {
    /* display: flex;
    gap: 24px;
    flex-wrap: wrap;
    flex: 0 0 100%; */

    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }
}

@media screen and (min-width: 880px) {
  main {
    .columns-3 {
      flex: 0 0 50%;
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (min-width: 1200px) {
  main {
    .columns-3 {
      flex: 0 0 50%;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.navigation {
  /* padding: 24px 24px; */
  /* background: #dfefff; */
  background: #eff0f3;
  /* background: #e9e9e9; */
  /* border-bottom: 2px solid #b7dbff; */
  border-bottom: 2px solid #dce2eb;
  /* border-radius: 16px; */
  /* position: fixed; */
  /* top: 16px; */
  /* top: 0; */
  width: 100%;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  /* z-index: 10; */
  /* box-shadow: rgba(0, 0, 0, 0.05) 0 6px 3px -1px; */
  .navigation-body {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 16px 20px;
    position: relative;
  }

  .heading {
    font-weight: bold;
    font-size: 1.5rem;
  }
}

.navigation-select {
  appearance: none;
  padding: 6px 20px;
  border-radius: 10px;
  /* border: 2px solid #d8ecff; */
  border: 2px solid #dce2eb;
  min-width: 240px;
  font-size: 1.15rem;
  font-weight: 700;
  background: #fff;
}

.navigation-hover {
  position: absolute;
  top: 56px;
  left: 18px;
  display: none;
  background: #fff;
  border: 2px solid #dce2eb;
  border-top: none;
}

.navigation-body:hover {
  .navigation-hover {
    display: block;
  }
}

.chevron-down-icon {
  background: #fff
    url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQgNkw4IDEwTDEyIDYiIHN0cm9rZT0iIzAwNzVFQiIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==)
    no-repeat right 16px center;
}


.breadcrumbs {
  /* background: #ececec; */
  /* background: #fff;
  border-bottom: 1px solid #d7d7d7; */

  .breadcrumbs-body {
    width: 100%;
    max-width: 1600px;
    margin: auto;
    padding: 24px 24px 8px;
    color: #808080;
  }
}
