.card {
  min-width: 0;
  padding: 16px 20px;

  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 16px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > p {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  .description {
  }

  .chart {
    height: 260px;
  }
}
table {
  width: 100%;
  margin-top: 12px;
  > tbody {
    /* background: #000; */
    > tr {
      border-top: 1px solid #eee;
      &:first-child,
      &.secondary ~ .secondary,
      & ~ .secondary {
        border-top: 0px;
      }
      /* {
        border-bottom: 0px;
      } */
      > th {
        text-align: left;
        padding: 10px 0;
      }
      &.secondary {
        > th {
          font-weight: 500;
          padding-left: 16px;
          color: #888;
        }
        > td {
          &.number {
            color: #888;
            font-weight: 500;
          }
        }
      }
      > td.number {
        font-weight: 700;
        text-align: right;
        color: #000;
      }
    }
  }
}

.tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: #999;
  content: "?";
  width: 18px;
  height: 18px;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 700;
  border-radius: 100px;
  cursor: pointer;

  .tooltiptext {
    display: none;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    right: 24px;
    background: #222;
    width: 200px;
    font-size: 0.75rem;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 6px;
    color: #eee;
    opacity: 0;
    animation: fadeIn 190ms;

    > p > span {
      font-weight: 800;
      color: #fff;
    }
  }

  &:hover {
    .tooltiptext {
      display: flex;
      opacity: 1;
    }
  }
}

.fade-in {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
