.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  padding: 16px 20px 20px;

  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 16px;

  .chart {
    height: 260px;
    margin: -8px;
  }

  & h3 {
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 24px;
  }

  .figures {
    margin: 12px 0;

    & .large-num {
      font-size: 2rem;
      font-weight: 700;
      color: grey;
      /* padding: 0 12px 0 8px; */
      /* width: 100px; */
      /* text-align: center; */

      &.bp-controlled {
        color: #3bb231;
      }
      &.bp-uncontrolled {
        color: #f6b100;
      }
      &.three-month-ltfu {
        color: #ed6300;
      }
      &.twelve-month-ltfu {
        color: #ff3355;
      }
    }

    & .detail {
      font-size: 1rem;
    }
  }

  .info {
    display: flex;
    position: absolute;
    top: 16px;
    right: 16px;
    justify-content: center;
    align-items: center;
    background: #999;
    width: 18px;
    height: 18px;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 100px;
    cursor: pointer;
    &::before {
      content: "?";
    }
  
    .info-hover-text {
      display: none;
      flex-direction: column;
      gap: 6px;
      position: absolute;
      right: 32px;
      background: #222;
      width: 200px;
      font-size: 0.75rem;
      font-weight: 400;
      padding: 8px 10px;
      border-radius: 6px;
      color: #eee;
      opacity: 0;
      animation: fadeIn 190ms;

      /* triangle */
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        right: -6px;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
        border-left: 6px solid #222;
      }

      > p > span {
        font-weight: 800;
        color: #fff;
      }
    }
  
    &:hover {
      .info-hover-text {
        display: flex;
        opacity: 1;
      }
    }
  }
}

table {
  width: 100%;
  margin-top: 12px;
  font-size: 0.9rem;

  & tr {
    border-bottom: 1px solid rgb(224, 224, 224);
  }

  & tbody {
    & .totals {
      background: #fff8d7;
    }
    & tr {
      &:hover:not(.totals) {
        background: #f8f8f8;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }

  & th,
  & td {
    text-align: left;
    font-weight: 400;
    padding: 6px 12px;
    border-right: 1px solid rgb(224, 224, 224);
    &:last-child {
      border-right: none;
    }
  }

  & th {
    font-weight: 700;
  }

  & .link a {
    color: #0075eb;
    &:hover {
      color: #004f9f;
      text-decoration: underline;
    }
  }

  & .head-bg {
    background: #eee;
  }

  & .number {
    text-align: right;
  }

  &.relaxed {
    & th, & td {
      padding: 12px 0px;
      font-size: 1rem;
      font-weight: 600;
    }
    & .secondary {
      color: #717171;
      padding-left: 12px;
      border-top: 1px solid #eee;
    }
  }
}

.cohort {
  margin: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.cohort-row {
  display: flex;
  width: 100%;
}
.cohort-detail {
  width: 30%;
  min-width: 300px;
  font-size: 0.9rem;
}
.cohort-bar {
  display: flex;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
  gap: 2px;

  & .segment {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  color: #fff;
  font-weight: 700;
  text-align: center;
  min-width: 3em;

  & .bp-controlled {
    background: #3bb231;
  }
  & .bp-uncontrolled {
    background: #f6b100;
  }
  & .three-month-ltfu {
    background: #ed6300;
  }
}
.key {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin-top: 12px;
  & div {
    display: flex;
    align-items: center;
    gap: 6px;
  }
  & .key-color-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    content: "";
    border-radius: 2px;
  }
  & .bp-controlled {
    background: #3bb231;
  }
  & .bp-uncontrolled {
    background: #f6b100;
  }
  & .three-month-ltfu {
    background: #ed6300;
  }
}

.text-center th {
  text-align: center;
}
.text-right {
  text-align: right;
}

.coverage {
  width: 100%;
  background: rgb(239, 239, 239);
  /* background: rgb(203, 232, 255); */
  border-radius: 6px;
  /* overflow: hidden; */
  margin: 64px 0 16px;
  height: 36px;
  border: 2px solid rgba(209, 209, 209, 0.395);
  padding: 2px;
  box-shadow: inset 0 0 0 2px #fff;
}

.coverage-bar {
}

.coverage-fill {
  position: relative;
  display: block;
  background: rgb(58, 167, 255);
  height: 100%;
  content: "";
  /* border: 1px solid white; */
  border-radius: 3px 0 0 3px;
}

.coverage-fill-indicator {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.coverage-fill-indicator-line {
  height: 42px;
  width: 2px;
  background: rgb(0, 116, 211);
  content: "";
  transform: translateY(25%);
}

.coverage-fill-indicator-percentage {
  text-align: center;
  /* background: rgb(182, 242, 255);
  background: rgb(16, 158, 190); */
  border-radius: 6px;
  /* font-size: 0.85rem; */
  font-weight: 700;
  /* transform: translateX(calc(50% - 1px)); */
  font-size: 1.75rem;
  color: #0074d3;
  /* color: #fff; */
  /* position: absolute; */
  /* right: 50%; */
  /* bottom: 0; */
}
/* & .info {
  content: '',
} */
/* &:hover {
  .info-hover-text {
    display: flex;
    opacity: 1;
  }
} */

.coverage-subtitle {
  text-align: right;
  font-size: 0.85rem;
  margin: 6px 0;
}

/* animations */
.fade-in {
  animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.text-grey {
  color: #888;
}
